<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Side</title>
    <style>

    </style>
</head>

<body>
    

<br>
<br>
<br>
<br>
<br>
<br>


    <h2>{{Demarcate_Question_List.Related_Question}}</h2>

    <form action="" method="post">
        {% csrf_token %}
        <label for="">Width</label>
        <input type="text" id="width" name="width">
        <label for="">Height</label>
        <input type="text" id="height" name="height">
        <label for="">StartX</label>
        <input type="text" id="startX" name="startX">
        <label for="">StartY</label>
        <input type="text" id="startY" name="startY">
              
        <input type="submit" value="Submit">
    </form>
    
    <canvas id="my-canvas" width="400" height="400" style="border: 1px solid black;"></canvas>

    <script>
       var canvas = document.getElementById('my-canvas');
var ctx = canvas.getContext('2d');
var isDrawing = false;
var startX, startY;
var width, height;

var img = new Image();
img.onload = function () {
    var canvasRatio = canvas.width / canvas.height;
    var imageRatio = img.width / img.height;
    var newWidth, newHeight;

    if (imageRatio > canvasRatio) {
        newWidth = canvas.width;
        newHeight = canvas.width / imageRatio;
    } else {
        newWidth = canvas.height * imageRatio;
        newHeight = canvas.height;
    }

    canvas.height = newHeight;
    ctx.drawImage(img, 0, 0, newWidth, newHeight);
};
img.src = '{{ Demarcate_Question_List.Question_Image.Upload_Image.url }}';

canvas.addEventListener('mousedown', function (e) {
    isDrawing = true;
    startX = e.offsetX;
    startY = e.offsetY;
});

canvas.addEventListener('mousemove', function (e) {
    if (isDrawing) {

        width = e.offsetX - startX;
        height = e.offsetY - startY;

        // check if the mouse is within the canvas boundaries
        if (e.offsetX > canvas.width) {
            width = canvas.width - startX;
        }
        if (e.offsetY > canvas.height) {
            height = canvas.height - startY;
        }
        if (startX + width > canvas.width) {
            width = canvas.width - startX;
        }
        if (startY + height > canvas.height) {
            height = canvas.height - startY;
        }

        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
        ctx.fillStyle = 'rgba(255, 0, 0, 0.5)';
        ctx.fillRect(startX, startY, width, height);
    }
});

canvas.addEventListener('mouseup', function (e) {
    isDrawing = false;

    document.getElementById("width").value = width
    document.getElementById("height").value = height
    document.getElementById("startX").value = startX
    document.getElementById("startY").value = startY
});

      </script>





</body>

</html>