{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container col-11 md-9" id="form-container">
    <!-- O conteúdo da linha será alinhado ao centro e teremos espaço de 5 colunas entre o texto e a figura -->
    <div class="row align-items-center-gx-5">
        <!-- Na tela responsiva a ordem 2 significa que a imagem ficará abaixo do texto quando reduzida -->
        <div class="col-md-6 order-md-2">
            <h2>Elaboração Questionário Professor</h2>
                <div class="btn-group btn-group-toggle" id="cButtons" data-toggle="buttons">
                    <label class="btn btn-info active">
                    <input type="radio" name="options" id="cIncluir" autocomplete="off" checked> Incluir
                    </label>

                    <label class="btn btn-info">
                    <input type="radio" name="options" id="cAlterar" autocomplete="off" disabled>Alterar
                    </label>
                    
                    <label class="btn btn-info">
                    <input type="radio" name="options" id="cExcluir" autocomplete="off" disabled> Excluir
                    </label>
                    
                    <label class="btn btn-info">
                    <input type="radio" name="options" id="cPesquisar" autocomplete="off"> Limpar
                    </label>
                </div>
                <!-- Parâmetro  enctype="multipart/form-data" permite o preview da imagem-->
                <form enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="cIdQuiz" name="tIdQuiz" placeholder="Identificação do Questionário">
                        <label for="cIdQuiz" class="form-label">Identificação do Questionário</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="cTitQuiz" name="tTitQuiz" placeholder="Título do questionário">
                      <label for="cTitQuiz" class="form-label">Título do questionário</label>
                    </div>

                    <div class="form-floating mb-3">
                      <textarea class="form-control" id="cAssQuiz" name="tAssQuiz" rows="5" placeholder="Descrição do assunto do questionário"></textarea>
                      <label for="cAssQuiz" class="form-label">Descrição do assunto do questionário</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="cIdDataQuiz" name="tIdDataQuiz" placeholder="Data do cadastro do Questionário">
                        <label for="cIdDataQuiz" class="form-label">Data do Questionário</label>
                    </div>     
                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="cProf">Professor</label>
                      </div>
                      <select class="custom-select" id="cProf">
                        <option selected>Selecione o Professor ...</option>
                        <option value="1">Sílvia Martini</option>
                        <option value="2">Márcia Bissaco</option>
                        <option value="3">Alessandro Silva</option>
                        <option value="4">Silvia Boschi</option>
                      </select>
                    </div>

                    <div class="form-floating md-3">
                        <p><b>Selecione o Status do Questionário</b></p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="cIdAberto" name="status" value="cIdAberto" checked>
                            <label class="form-check-label" for="cIdAberto" >Aberto</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="cIdFechado" name="status" value="cIdFechado">
                            <label class="form-check-label" for="cIdFechado" >Fechado</label>
                        </div>
                    </div>

                    <div>
                        <a href="{% url 'QuestionsApp:CreateQuestionView' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Elaborar Questões</a>
                        <!-- <input type="submit" class="btn btn-primary" value="Elaborar Questões"> -->
                    </div>
                </form>
        </div>
        
        <div class="col-md-6 order-md-1">
            <div class="col-12">
                <img src="{% static 'assets/img/questionario.png' %}" draggable="false" alt="Questionario Professor" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% endblock content %}

