<!-- student_results.html -->

{% extends 'base.html' %}

{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>

<div class="container">
    <h1 class="mt-4">Resultados</h1>
    <ul class="list-group">
      {% for result in results %}
        <li class="list-group-item">
          <strong>Questionário:</strong> {{ result.Question_Group_Information }}<br>
          <strong>Pontuação:</strong> {{ result.Score_Per_Question }}<br>
          <strong>Concluído em:</strong> {{ result.Completed_At }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
