<!-- search_student_performance.html -->

{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
  <div class="justify-content-center">
    <div class="row col-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h1 class="mb-0">Pesquisar desempenho dos alunos</h1>
        </div>
        <div class="card-body">
          <form method="post" class="row g-2 align-items-center">
            {% csrf_token %}
            <div class="col-md-12">
              <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                <label for="username" class="form-label">Username</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="d-grid"> <!-- Use 'd-grid' class to center the button -->
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% if Group_Information %}
    <div class="row">
      <!-- Left Column -->
      <div class="col-md-6">
        <h1 class="mt-4">MCQs Question</h1>
        <ul class="list-group">
          {% for group_info in Group_Information %}
          <li class="list-group-item">
            <strong>Questionário:</strong> {{ group_info.Question_Group_Information__Name_Of_Group }}<br>
            <strong>Pontuação:</strong> {{ group_info.total_score }}<br>
            <!-- <strong>Concluído em:</strong> {{ group_info.Completed_At }} -->
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- Right Column -->
      <div class="col-md-6">
        <h1 class="mt-4">Demarcate question</h1>
        <ul class="list-group">
          {% for group_info_D in Group_Information_Demarcate %}
          <li class="list-group-item">
            <strong>Questionário (Demarcate):</strong> {{ group_info_D.Question_Group_Information__Name_Of_Group }}<br>
            <strong>Pontuação (Demarcate):</strong> {{ group_info_D.total_score }}<br>
            <!-- <strong>Concluído em:</strong> {{ group_info.Completed_At }} -->
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
